/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/******************************************
/* BASE STYLES
/*******************************************/

header {
  text-align: center;
}

body {
  line-height: 1.4;
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px black;
  background: url(../images/page_background.jpg);
  min-width: 1400px;
}

h1, h2 {
  font-size: 25px;
}

h2 {
  text-decoration: underline;
}

#checkerboard {
  margin-left: 2px;
}


#restart, .red-button {
  color: black;
  margin-right: -160px;
  margin-left: 15px;
}

#end_turn {
  font-size: 16px;
  padding-top: 3px;
  margin-top: -20px;
}

#end_turn, body {
  font-weight: bold;
}

.hidden {
  display: none;
}

.not-hidden {
  display: block;
}

.red-button {
  background: red;
  margin-left: 400px;
  margin-right: -540px;
}

.black-button {
  background: black;
  margin-right: 400px;
  margin-left: -540px;
}

.red.king {
  content: url(../images/redKing.jpg);
}

.black.king {
  content: url(../images/blackKing.jpg);
}

.video {
  width: 396px;
  height: 200px;
  border: 1px solid black;
}

#redScore > .video {
  float: left;
  clear: both;
}

#blackScore > .video {
  float: right;
  clear: both;
}

#container {
  height: 645px;
  width: 645px;
  margin: 0 auto;
  padding: 2.5px 0 0 2px;
}


.scoreDiv {
  margin-top: -600px;
  margin-left: 100px;
}

#blackScore {
  margin-top: -600px;
  margin-right: 100px;
}

.score {
  text-decoration: none;
  font-size: 50px;
}

.new_piece {
  width: 60px;
  margin: 5px;
}


#red {
  margin-left: 50px;
}

#black {
  margin-right: 50px;
}

#container div {
  width: 75px;
  height: 75px;
  margin: 2.5px;
}

#container div.black, div.red, body, .black-button {
  color: white;
}

#container div.black {
  background: url(../images/blackSquare.jpg);

}

#container div.red {
  background: url(../images/redSquare.jpg);
}


#restart, #end_turn {
  word-wrap: break-word;
  text-shadow: none;
  border: 3px solid black;
  border-radius: 20px;
  width: 10%;
}

#restart, #container {
  background: white;
}

#restart, #container div, #redScore, #red, .red-button {
  float: left;
}

#restart, #end_turn, #redScore, #blackScore, #red, #black{
  clear: both;
}

#restart, #end_turn, #redScore, #blackScoreBox {
  text-align: center;
}


#blackScore, #black, .black-button {
  float: right;
}
